.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-grid {
  display: flex;
  justify-content: center;
}

.contact-grid i {
  color: white;
  font-size: 72px;
  margin: 0 5px;
  transition: 0.5s;
}

.contact-grid i:hover {
  color: var(--hover-button-color);
}
