@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;400&family=PT+Sans&display=swap");

@keyframes fade-in {
  from {
    opacity: 0;
    bottom: -100px;
  }
  to {
    opacity: 1;
    bottom: 0;
  }
}

:root {
  --main-background-color: #191919;
  --nav-color: #15105e;
}

html {
  background-color: var(--main-background-color);
  font-family: "Kanit", sans-serif;
}

body {
  margin: 0;
}

.navbar {
  position: sticky;
  top: 0;
  background-color: var(--nav-color);
  height: 60px;
  display: flex;
  justify-content: end;
}

nav > ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 20px;
}

.navbar > ul > li {
  margin: 5px;
}

.navbar a {
  text-decoration: none;
  color: white;
}

#About,
#Projects,
#Contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}

article {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  justify-content: center;
  padding-top: 50px;
}
