@font-face {
  font-family: Kanit;
  src: url(https://fonts.gstatic.com/s/kanit/v12/nKKZ-Go6G5tXcraVGwA.woff2)
    format("woff2");
}

@keyframes fade-in {
  from {
    opacity: 0;
    bottom: -100px;
  }
  to {
    opacity: 1;
    bottom: 0;
  }
}

:root {
  --main-background-color: #191919;
}

html {
  background-color: var(--main-background-color);
  font-family: Kanit;
}

body {
  margin: 0;
}
@media only screen and (min-width: 768px) {
  .Hero {
    background-color: white;
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  h1.Hero-name {
    color: black;
    text-transform: uppercase;
    font-size: 128px;
    user-select: none;
    margin: 0;
    opacity: 0;
    animation: fade-in 2s forwards;
    animation-delay: 1s;
    position: relative;
  }

  h2 {
    opacity: 0;
    font-size: 96px;
    user-select: none;
    margin: 0;
    animation: fade-in 2s forwards;
    animation-delay: 2s;
    position: relative;
  }

  .hero-aboutme-button {
    opacity: 0;
    animation: fade-in 2s forwards;
    animation-delay: 3s;
    position: relative;
    width: 150px;
    appearance: button;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    padding: 8px;
    text-decoration: none;
    color: black;
    transition: 0.5s;
  }
}

.Hero {
  background-color: white;
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1.Hero-name {
  color: black;
  text-transform: uppercase;
  font-size: 72px;
  user-select: none;
  margin: 0;
  opacity: 0;
  animation: fade-in 2s forwards;
  animation-delay: 1s;
  position: relative;
}

h2 {
  opacity: 0;
  font-size: 54px;
  user-select: none;
  margin: 0;
  animation: fade-in 2s forwards;
  animation-delay: 2s;
  position: relative;
}

.hero-aboutme-button {
  opacity: 0;
  animation: fade-in 2s forwards;
  animation-delay: 3s;
  position: relative;
  width: 150px;
  appearance: button;
  background-color: white;
  border: 2px solid black;
  border-radius: 10px;
  padding: 8px;
  text-decoration: none;
  color: black;
  transition: 0.5s;
}

.hero-aboutme-button:hover {
  background-color: black;
  color: white;
}

.navbar {
  position: sticky;
  top: 0;
  background-color: var(--main-background-color);
  height: 60px;
  display: flex;
  justify-content: end;
}

nav > ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 20px;
}

.navbar > ul > li {
  margin: 5px;
}

.navbar a {
  text-decoration: none;
  color: white;
}

#About,
#Projects,
#Contact {
  height: 1920px;
}

article {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin: auto;
  justify-content: center;
  padding-top: 50px;
}
