.navbar {
  position: sticky;
  top: 0;
  background-color: var(--nav-color);
  height: 60px;
  display: flex;
  justify-content: flex-end;
}

.navbarList {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 20px;
}

.navbarItem {
  margin: 5px;
}

.navbarLink {
  text-decoration: none;
  color: white;
}
